.col-md-12.form
	%h1 Itinerary Details
	= simple_form_for @destination do |f|

		- if @destination.errors.any?
			.errors
				- @destination.errors.full_messages.each do |err|
					%li
						%p.err= err  

		%p= f.input :name, input_html: {class: "form-control clearfix"}, label: "Name of Country Travelling To"
		%p= f.input :start_date, label: "Travel Start"
		%p= f.input :end_date, label: "Travel End"
		%p= f.input :description, as: :text, input_html: {class: "form-control"}, label: "Trip Notes"
		
		#accomodations
			= f.simple_fields_for :accomodations do |accomodation|
				= render 'accomodation_fields', f: accomodation
			.links
				= link_to_add_association 'Add', f, :accomodations, class: "btn btn-sm btn-success"

		%h3 Locations
		#locations
			= f.simple_fields_for :locations do |location|
				= render 'location_fields', f: location
			.links
				= link_to_add_association 'Add', f, :locations, class: "btn btn-sm btn-success"
		
		%br
		%hr
		= f.submit "Update Itinerary", class: "btn btn-sm btn-success"
		= link_to "Cancel", root_url, class: "btn btn-sm btn-danger cancel"