%h1.heading-form Itinerary Details
.col-md-12.form
	= simple_form_for @destination, html: { class: "simple-form"} do |f|

		- if @destination.errors.any?
			.errors
				- @destination.errors.full_messages.each do |err|
					%li
						%p.err= err  
		%p= f.input :name, input_html: {class: "form-control clearfix"}, label: "Itinerary Name"
		%p= f.input :start_date, label: "Travel Start", input_html: {class: "clearfix"}
		%p= f.input :end_date, label: "Travel End", input_html: {class: "clearfix"}
		%p= f.input :description, as: :text, input_html: {class: "form-control"}, label: "Trip Notes"
		
		%h1.heading-form Hotel Details	
		#accomodations
			= f.simple_fields_for :accomodations do |accomodation|
				= render 'accomodation_fields', f: accomodation
			.links
				= link_to_add_association 'Add', f, :accomodations, class: "btn btn-sm btn-success"

		%h1.heading-form Location Details
		#locations
			= f.simple_fields_for :locations do |location|
				= render 'location_fields', f: location
			.links
				= link_to_add_association 'Add', f, :locations, class: "btn btn-sm btn-success"
		
		%br
		%hr
		#submit
			= f.submit "Update Itinerary", class: "btn btn-sm btn-success"
			= link_to "Cancel", root_url, class: "btn btn-sm btn-danger cancel"