.row.destination-details
	.col-md-12
		%h1.heading= @destination.name
		= link_to "Edit", edit_destination_path(@destination), class: "btn btn-xs btn-success v-align"
.row
	.col-md-12
	%p.description= @destination.description
.row
	.col-md-3.hotel
		.panel.panel-default
			.panel-heading
				%h2 #{@accomodation.name}
			.panel-body
				%p.visit Address
				.sub-visit= @accomodation.address
				%br
				%p.visit Travel Start: 
				.sub-visit=@destination.start_date
				%br
				%p.visit Travel End: 
				.sub-visit= @destination.end_date
				
	.col-md-9.locations
		- @location_details.each do |location|
			.col-md-4.location-details
				%h2= link_to location.name, destination_location_path(@destination, location)
				%br
				%p.visit Address
				.sub-visit= location.address
				%br
				%p.visit Visit On:
				.sub-visit= location.date
				%br
				- @acc_dist.each do |acc_dist|
					%p.visit Distance From Hotel
					.sub-visit
						= location.distance_to([acc_dist.latitude, acc_dist.longitude], :km).round(2)
						KM

.row
	.col-md-12
		#map

:javascript
	var markers = #{@locations}
	var map;
	function initMap() {
		var bounds = new google.maps.LatLngBounds();
	  	map = new google.maps.Map(document.getElementById('map'), {
	    zoom: 10,
	    center: new google.maps.LatLng(markers[0].latitude, markers[0].longitude),
	  });

		var hotel_marker = new google.maps.Marker({
			position: {lat: #{@accomodation.latitude}, lng: #{@accomodation.longitude}},
			map: map,
			icon: "http://www.pacificonline.com/images/icons/office_building_64px.png",
			title: "#{@accomodation.name}"
		});

		for (var i = 0; i < markers.length; i++) {
			var data = markers[i];
			var myLatlng = new google.maps.LatLng(data.latitude, data.longitude);
			var marker = new google.maps.Marker({
				position: myLatlng,
				map: map,
				title: data.name
			});
			bounds.extend(marker.position);
		};
		map.fitBounds(bounds);	
	};	

%script{:async => "", :defer => "", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBdMDyASdvSs-EL3DUXLggdI9WKcZenQKg&callback=initMap"}
