.col-md-12
	= link_to "Home", root_url
.col-md-6
	.row.destination-details
		%h1= @destination.name
	%h5= @destination.date
	- @destination.locations.each do |location|
		%h2= location.name
		%p= location.date
		%li
			%p= location.description
		=location.latitude
		=location.longitude


//- for name in @destination.nearbys(25)
//	%li
//		= link_to name.name, destination_path(name)
//		= name.distance.round(2)
//		miles 

.col-md-6
	.row.map-details
		%h1 MAP
	#map
:javascript
	var markers = #{@locations}
	var map;
	function initMap() {
	
	  map = new google.maps.Map(document.getElementById('map'), {
	    zoom: 13,
	    center: new google.maps.LatLng(markers[0].latitude, markers[0].longitude),
	  });

		for (var i = 0; i < markers.length; i++) {
			var data = markers[i];
			var myLatlng = new google.maps.LatLng(data.latitude, data.longitude);
			var marker = new google.maps.Marker({
				position: myLatlng,
				map: map,
				title: data.name
			});
		};
	};	

%script{:async => "", :defer => "", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBdMDyASdvSs-EL3DUXLggdI9WKcZenQKg&callback=initMap"}

