.row.destination-details
	.col-md-12
		%h1.destination= @destination.name
		= link_to "Edit", edit_destination_path(@destination), class: "btn btn-xs btn-success v-align"
.row
	.col-md-12
		%h4 Accomodation Details		
		%h5 Hotel Name
		%h5 Hotel Address
		%h5= @destination.date
		%ol
			- @location_details.each do |location|
				.col-md-4
					.locations
						%li
							%h2= location.name
							%p= location.city
							%p= location.address
							%p= location.date
							%p= location.description

.row
	.col-md-12
		#map

:javascript
	var markers = #{@locations}
	var map;
	function initMap() {
		var bounds = new google.maps.LatLngBounds();
	  	map = new google.maps.Map(document.getElementById('map'), {
	    zoom: 10,
	    center: new google.maps.LatLng(markers[0].latitude, markers[0].longitude),
	  });

		for (var i = 0; i < markers.length; i++) {
			var data = markers[i];
			var myLatlng = new google.maps.LatLng(data.latitude, data.longitude);
			var marker = new google.maps.Marker({
				position: myLatlng,
				map: map,
				title: data.name
			});
			bounds.extend(marker.position);
		};
		map.fitBounds(bounds);	
	};	

%script{:async => "", :defer => "", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBdMDyASdvSs-EL3DUXLggdI9WKcZenQKg&callback=initMap"}
